<div class="container">
  <h1><a href="/" class="title-link">‘Tis the Seasoning</a></h1>
  <h2>A Recipe-Sharing App. Test new flavors or impress by sharing one of your own...</h2>

  <table id="table_id" class="cell-border compact">
    <thead>
      <tr>
        <th>Title</th>
        <th>Main Ingredient</th>
        <th>Category</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {{#each recipe}}
      <tr>
        <td><a href="/recipe/{{recipe_id}}">
            {{title}}</a></td>
        <td>{{main_ingredient}}</td>
        <td>{{category}}</td>
        <td>{{votes}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <a href="/add-recipe" class="btn btn-large btn-danger add-recipe">Impress Me</a>

  <script>
    $(document).ready(function () {
      $('#table_id').DataTable();
    });
  </script>
</div>